body{
    font-family: 'Poppins', sans-serif;
}
/* --------------header part---------------- */
.wedding-text{
    font-size: 50px;
    color: #FFFF;
}
.wedding-describe{
    font-size: 30px;
    color: #FFF8DC;
}
/* ------------Package-------------------- */
.package{
    font-size: 22px;
}
#package-mid{
    height: 554px;
    transform: translatey(-48px);
}