body{
    font-family: 'Poppins', sans-serif;
}
/* --------------header part---------------- */
.wedding-text{
    font-size: 50px;
    color: #FFFF;
}
.wedding-describe{
    font-size: 30px;
    color: #FFF8DC;
}
